body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inner-layout {
  background-color: white;
  padding: 10px 5px;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: contents;
  margin: 0;
  padding: 0;
}

.ant-list-item.clickable {
  -webkit-tap-highlight-color: transparent;
}

.ant-list-item.clickable:hover .ant-list-item-meta-title {
  color: #40a9ff;
}

.ant-list-item.clickable:hover {
  background-color:#f0f2f5
}